body {
    width: 500px;
}

.option-list {
    display: flex;
    flex-direction: column;
}

.anglicism-options {
    display: none;
}
.options-activated {
    display: block;
}

.hidden {
    display: none;
}